body {
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    color: white;
    padding: 5px 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}

.btn-modern:hover {
    transform: translateX(-5px);
    border-bottom: 2px solid gray;
    background-color: rgba(161, 44, 44, 0.637);
    color: black;
}


